<%- include('partials/header') %>

    <p class="lead">
        Welcome to your personal Twitter log. By logging in, you can search the recent trending tweets, save, and
        comment on them. And the good part is that it's all personal and private.
        Log how you feel about the trending information on social media.
    </p>

    <%- include('partials/footer') %>