body {
  height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

main {
  margin-top: 50px;
}

a {
  color: #00B7FF;
}

h1{
  margin-bottom: 50px;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.flex-column {
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}

.text-center {
  text-align: center!important;
}

.container {
  margin-top: 50px;
  width: auto;
  height: auto;
  flex-wrap: wrap ;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  gap: 20px;

}

.container-fluid {
  gap: 10px;
}