<%- include('../partials/header') %>

    <p>All Gategories
    <div>
        <% categs.forEach(function(categ) { %>
            <li>
                <%= categ.name %>
            </li>
            <% }) %>
    </div>
    </p>
    <form id="add-ticket" action="/category" method="POST">
        <label>Label:</label>
        <input name="name" type="text" required>
        <br>

        <input type="submit" value="Add Category">
    </form>

    <%- include('../partials/footer') %>